* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    height: 100px;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    margin-top: 34px;
    margin-bottom: 34px;
    align-items: center;
}

.name {
    padding-left: 180px;
    text-align: left;
    font: normal normal bold 26px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.inner-box {
    text-align: left;
    font: normal normal 300 20px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    opacity: 1;
}

button {
    width: 160px;
    height: 48px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    border: none;
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.issue-main {
    position: relative;
    height: 856.33px;
}

.issue-outer-1 {
    position: absolute;
    top: 240px;
    left: 224px;
    width: 160px;
    height: 40px;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 1;
    text-align: center;
    padding: 12px;
    font: normal normal normal 18px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    opacity: 1;
}

.issue-outer-2 {
    position: absolute;
    top: 256px;
    left: 160px;
    width: 544px;
    height: 450px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;

    text-align: left;
    font: normal normal bold 44px/56px Helvetica;
    letter-spacing: 0px;
    color: #354463;
}

#issue-text-1 {
    position: absolute;
    top: 90px;
    left: 64px;
    width: 416px;
    height: 221px;
}

#issue-text-2 {
    position: absolute;
    top: 353px;
    left: 64px;
    width: 416px;
    height: 221px;
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    opacity: 1;
}

.issue-outer-3 {
    position: absolute;
    top: 265px;
    left: 939px;
    width: 296px;
    height: 224px;
    background: transparent url('assets/assets/home/stopclimatechange.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.main-action {
    position: absolute;
    top: 835px;
    left: 45%;
    width: 160px;
    height: 40px;
    padding-top: 12px;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 1;
}

.take-action {
    position: relative;
    margin: 0%;
    left: 0px;
    width: 100%;
    height: 240px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    opacity: 1;
}

.take-action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
}

.actions {
    width: 232px;
}

.tabs1 {
    text-align: left;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.tabs2 {
    /* UI Properties */
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    opacity: 1;
}

.what-we-do {
    width: 100%;
    height: 1320px;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
}

#what-we-do {
    position: absolute;
    top: 140px;
    left: 160px;
    width: 160px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 12px;
    text-align: center;
    font: normal normal normal 18px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    opacity: 1;
}

#mission {
    position: absolute;
    top: 250px;
    left: 160px;
    width: 85%;
    height: 140px;
    text-align: left;
    font: normal normal bold 56px/56px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.blog-posts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 550px;
}

.blogs {
    width: 380px;
    height: 628px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.blog-headings {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.blog1 {
    position: absolute;
    top: 500px;
    left: 250px;
}

.blog2 {
    position: absolute;
    top: 500px;
    left: 760px;
}

.blog3 {
    position: absolute;
    top: 500px;
    right: 180px;
}

.blogs-heading {
    position: relative;
    top: 230px;
    left: 30px;
    width: 288px;
    height: 70px;
    text-align: left;
    font: normal normal bold 34px/36px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}


.blogs-desc {
    position: relative;
    top: 270px;
    left: 30px;
    width: 300px;
    height: 144px;
    text-align: left;
    font: normal normal 300 20px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    opacity: 1;
}

.blogs-button {
    position: relative;
    top: 320px;
    left: 30px;
}

.know-image {
    width: 100%;
    height: 1630px;
}

.did-you-know {
    position: relative;
    margin-right: 10%;
    bottom: 161vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.know-boxes {
    position: relative;
    width: 40%;
    height: 30vh;
    margin: 2%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 15%;
}

.know-boxes h1 {
    text-align: left;
    font: normal normal bold 48px/56px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.know-boxes p {
    margin-top: 1%;
    text-align: left;
    font: normal normal 300 20px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    opacity: 1;
}

.this {
    position: relative;
    top: 55px;
    left: -455px;
}

.hunger {
    position: absolute;
    top: 5%;
    left: 13%;
    width: 2960px;
    height: 380px;
    background: transparent url('/assets/assets/home/ClimatechangeIsahungerissue.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.know-image .donate {
    position: absolute;
    left: 13%;
    top: 30%;
}

.stories {
    width: 1440px;
    height: 1050px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.stories img {
    position: relative;
    left: 55%;
    top: 14%;
}

.statement {
    position: relative;
    left: 14%;
    bottom: 48%;
    width: 50%;
    height: 512px;
    padding: 10%;
    padding-top: 7%;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 1;
}

.statement h4 {
    width: 416px;
    height: 196px;
    text-align: left;
    font: normal normal bold 32px/36px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.statement p {
    width: 400px;
    height: 14px;
    text-align: left;
    padding-top: 25%;
    font: normal normal normal 18px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    opacity: 1;
}

.read{
    position: relative;
    left: 14%;
    bottom: 425px;
}

.stories{
    position: relative;
}