* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 2%;
    margin-bottom: 2%;
    align-items: center;
}

.name {
    padding-left: 5%;
    text-align: left;
    font: normal normal bold 2.5em/2.8em Helvetica;
    letter-spacing: 0;
    color: #354463;
    opacity: 1;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.inner-box {
    text-align: left;
    font: normal normal 300 1.5em/1.8em Helvetica;
    letter-spacing: -0.016em;
    color: #354463;
    opacity: 1;
}

button {
    width: 60%;
    height: auto;
    background: #C1F7D5;
    border-radius: 100px;
    border: none;
    text-align: center;
    font: normal normal bold 1.125em/1.375em Helvetica;
    letter-spacing: 0;
    color: #354463;
    opacity: 1;
}

.issue-main {
    position: relative;
    height: auto;
}

.issue-outer-1 {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 40%;
    height: auto;
    background: #354463;
    opacity: 1;
    z-index: 1;
    text-align: center;
    padding: 3%;
    font: normal normal normal 1.125em/1.17em Helvetica;
    letter-spacing: 0.056em;
    color: #FFFFFF;
}

.issue-outer-2 {
    position: absolute;
    top: 18%;
    left: 10%;
    width: 80%;
    height: auto;
    background: #FFFFFF;
    opacity: 1;
    text-align: left;
    font: normal normal bold 2.75em/3.5em Helvetica;
    letter-spacing: 0;
    color: #354463;
}

#issue-text-1 {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: auto;
}

#issue-text-2 {
    position: absolute;
    top: 28%;
    left: 10%;
    width: 80%;
    height: auto;
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 1em/1.5em Helvetica;
    letter-spacing: -0.016em;
    color: #354463;
    opacity: 1;
}

.issue-outer-3 {
    position: absolute;
    top: 21%;
    right: 5%;
    width: 30%;
    height: auto;
    background: transparent url('assets/assets/home/stopclimatechange.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.main-action {
    position: absolute;
    top: 82%;
    left: 45%;
    width: 40%;
    height: auto;
    padding-top: 3%;
    background: #354463;
    opacity: 1;
    z-index: 1;
}

.take-action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.actions {
    width: 23%;
}

.tabs1 {
    text-align: left;
    font: normal normal bold 1.75em/2.25em Helvetica;
    letter-spacing: 0;
    color: #354463;
    opacity: 1;
}

.tabs2 {
    text-align: left;
    font: normal normal 300 1em/1.5em Helvetica;
    letter-spacing: -0.016em;
    color: #354463;
    opacity: 1;
}

.what-we-do {
    width: 100%;
    height: auto;
    background: #354463;
    opacity: 1;
    position: relative;
}

#what-we-do {
    position: absolute;
    top: 8%;
    left: 10%;
    width: 40%;
    height: auto;
    background: #FFFFFF;
    opacity: 1;
    padding: 3%;
    text-align: center;
    font: normal normal normal 1.125em/1.17em Helvetica;
    letter-spacing: 0.056em;
    color: #354463;
}

#mission {
    position: absolute;
    top: 15%;
    left: 10%;
    width: 80%;
    height: auto;
    text-align: left;
    font: normal normal bold 3.5em/3.5em Helvetica;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

.blog-posts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15%;
}

.blogs {
    width: 38%;
    height: auto;
    background: #FFFFFF;
    opacity: 1;
}

.blog-headings {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.blogs-heading {
    text-align: left;
    font: normal normal bold 2.125em/2.25em Helvetica;
    letter-spacing: 0;
    color: #354463;
    opacity: 1;
}

.blogs-desc {
    text-align: left;
    font: normal normal 300 1.25em/1.5em Helvetica;
    letter-spacing: -0.016em;
    color: #354463;
    opacity: 1;
}

.blogs-button {
    text-align: left;
}

.know-image {
    width: 100%;
    height: auto;
}

.did-you-know {
    position: relative;
    margin-right: 10%;
    bottom: 30vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.know-boxes {
    width: 40%;
    height: 30vh;
    margin: 2%;
    background: #FFFFFF;
    opacity: 1;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 15%;
}

.know-boxes h1 {
    text-align: left;
    font: normal normal bold 3em/3.5em Helvetica;
    letter-spacing: 0;
    color: #354463;
    opacity: 1;
}

